/home/*/.android
/home/*/.local/share/containers
/home/*/.local/share/docker
/home/*/.local/share/flatpak
/home/*/.local/share/Trash
/home/*/.var
/home/*/.tor project
/home/*/dev/nixpkgs
/home/*/dev/**/node_modules
/home/*/prj/**/node_modules
/home/*/prj/wrk*infra/.data/*-cache
