[Unit]
AssertPathIsDirectory=%C/rclone/sk-nc
Description=mount for %h/remote/sk-nc

[Mount]
Environment="PATH=/run/wrappers/bin:/run/current-system/sw/bin:/usr/local/bin:/usr/bin:/bin"
Type=rclone
What=sk_at_nc:
Where=%h/remote/sk-nc
Options=rw,_netdev,args2env,nosuid,x-systemd.automount,vfs-cache-mode=writes,cache-dir=%C/rclone/sk-nc,config=%E/rclone/rclone.conf
LazyUnmount=true

