[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=8m
Unit=kopia-alien-docs.service

[Unit]
Description=Kopia periodic snapshotting - alien-docs
