[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=8h
Unit=kopia-alien-media.service

[Unit]
Description=Kopia periodic snapshotting - alien-media
