[Service]
CPUSchedulingPolicy=idle
Environment=KOPIA_CONFIG_PATH=%E/kopia/repository.config
Environment=KOPIA_CONTENT_LOG_DIR_MAX_AGE=168h
Environment=KOPIA_LOG_DIR_MAX_AGE=168h
EnvironmentFile=/run/secrets/sk-kopia-repo-password-env-file
ExecStart=/usr/bin/env flock kopia-service.lock kopia snapshot create '--override-source=%h/pics/photos' '%h/remote/sk-nc/Family Photos'
IOSchedulingClass=idle
Restart=on-failure
RestartSec=1m
Type=oneshot
WorkingDirectory=/run/user/%U

[Unit]
After=sops-nix.service
Description=Kopia sync - alien-photos
StartLimitIntervalSec=0
