[Unit]
After=network.target
Description=synchronize calendars and contacts

[Service]
BindPaths=%E/vdirsyncer
BindPaths=%D/calendars
BindPaths=%D/contacts
BindPaths=%t
Environment="PATH=/run/current-system/sw/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env vdirsyncer sync
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=tmpfs
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
StateDirectory=vdirsyncer
StateDirectoryMode=0700
Type=oneshot
